body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

p{
    margin-left: 10%;    
    color: #f0f0f0;
    margin-right:10%;
}

/* pantalla donde pones el nombre de la playlist */
#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

#contenedor h2{
    color: #ffffff;
}

#nombreInput {
    margin: 45px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Ajusta el ancho según sea necesario */
}

#nombreInput:focus {
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Agrega un efecto de sombra al enfocarse */
}

button {
    margin: 45px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

/* Caja de la canción */
.song_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6c6161;
    border: 1px solid #000000;
    padding: 20px;
    width: 400px; /* ajusta el ancho según tus necesidades */
    height: 525px; /* ajusta la altura según tus necesidades */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.icon-container {
    width: 350px; /* ajusta el ancho del contenedor del icono */
    height: 400px; /* ajusta la altura del contenedor del icono */
    border-radius: 10px;
    background-color: #8e86864f;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px; /* ajusta el tamaño del icono */
}

.text {
    font-size: 20px;
    margin-bottom: 10px;
}

.explanation-container {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #8e86864f;
    max-width: 400px;
    margin: 0 auto;
}

#explanation {
    color: red; 
    font-size: 16px;
}

.text a{
    font-size: 25px;
    font-weight: bold;
}

/* Iconos */
.icons {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre los iconos */
}

.icon {
    font-size: 50px;
    cursor: pointer;
}

.icon .fa-heart{
    color: #fc3636;
}

.icon .fa-check{
    color: #3ff880;
}

.icon .fa-redo-alt{
    color: #363dfc;
}




