body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

/* Pantalla donde eliges las opciones */
.container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%; /* Lleva el contenedor al centro vertical */
    left: 50%; /* Lleva el contenedor al centro horizontal */
    transform: translate(-50%, -50%); /* Corrige la posición para que el centro del contenedor sea el punto de referencia */
}

.container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.options input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

button[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}