body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
}

/* Pantalla donde eliges las opciones */
.container {
    display: flex;
    flex-direction: column; 
    max-width: 400px;
    background-color: #6c6161;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%; /* Lleva el contenedor al centro vertical */
    left: 50%; /* Lleva el contenedor al centro horizontal */
    transform: translate(-50%, -50%); /* Corrige la posición para que el centro del contenedor sea el punto de referencia */
}

.container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

input[name="options"] {
    /* margin-top: 10px; */
    margin-bottom: 15px;
    font-size: 20px; /* Cambia el tamaño de la fuente a 16px */
}

.container button {
    align-self: flex-end;
}

button[type="submit"] {
    margin-top: 15px;
    width: auto;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mostrar la lista de canciones para elegir*/
.canciones-container{
    max-height: 100%;
    overflow-y: auto;
}

.canciones-container h2 {
    color:#f0f0f0;
    margin-left: 1%;
}

.cancion {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.cancion:hover {
    background-color: #f0f0f0;
}

