body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* HEADER */
#myHeader {
    background-color: #333;
    color: #fff;
    padding: 0.5%;
    text-align: center;
}

#myHeader h1{
    margin-right: 20%;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content .left-content {
    margin-left: 1%;
}

.header-content .right-content {
    margin-left: 68%;
}

.regIni {
    display: flex;
    align-items: center;
}

.header-content a {
    color: #fff; 
}

.header-content a .fa-home {
    font-size: 27px; 
    color: #fff; 
}

.header-content a .fa-user {
    font-size: 20px; 
    color: #fff; 
}

.regIni {
    margin-left: auto; /* Empuja los enlaces a la derecha */
}

.regIni a {
    margin-left: 10px;
    color: #fff;
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 16%;
    background-color: #000000;
    color: #fff;
    overflow-y: auto; 
}

.scrollable-list {
    padding: 20px;
}

.scrollable-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scrollable-list button:hover {
    background-color: #777;
}

.content {
    margin-left: 100; /* Ancho de la barra lateral + espacio */
    padding: 10px;
    display: flex;
    background-color: #333;
    flex-direction: column;
    align-items: left;
}

.separator {
    border: none;
    border-top: 1px solid #666; /* Línea horizontal */
    margin: 20px 0; /* Espaciado */
    height: 0; /* Oculta el espacio vertical generado por el hr */
}

.biblioteca {
    font-size: 130%; 
    margin-bottom: 8%; /*espacio entre biblioteca y Mis favoritos*/
    font-weight: bold;
}

.favorites {
    font-size: 110%; 
    margin-left: 20px; 
    margin-bottom: 10px;
    font-style: italic;
    cursor:pointer;
}

.myplaylists {
    font-size: 110%; 
    margin-top: 10px;
    margin-left: 20px; 
    font-style: italic;
    cursor:pointer;
}

.fa-heart {
    color: rgb(96, 91, 91); 
}

.playlists-titulo {
    font-size: 21px; 
    margin-bottom: 30px; 
    font-weight: bold;
}

.fa-trash-alt {
    float: right;
    display: none;
}

.playlists {
    margin-top: 25px;
}

.playlist-box {
    background-color: #6c6161;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    width: 170px; /* Anchura fija */
    height: 20px; /* Altura fija */
}

.playlist-box a {
    float: left;
}

.playlists .fa-music {
    float: left; /* Flotar el icono a la izquierda */
    width: 20px; /* Ancho fijo para el icono */
    height: 30px; /* Altura fija para el icono */
    margin-right: 20px; /* Espacio entre el icono y el texto */
}


/* Resto de la página */
.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.main-content .section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    margin-right: 300px;
    margin-bottom: 20px; /* Margen entre las secciones */
    padding: 20px;
    background-color: #6c6161;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.main-content .section button {
    margin: 45px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

.content button {
    margin: 95px auto;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-content .section button[disabled] {
    background-color: #ccc; 
    color: #666;
}

.section h2 {
    margin-bottom: 10px;
    color: #ffffff;
}
  
.section p {
    margin-bottom: 10px;
}

/* Crear playlist (botón 2) */
.crear_playlist {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px; /* ajusta el ancho según tus necesidades */
    height: 300px; /* ajusta la altura según tus necesidades */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}