body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* HEADER */
#myHeader {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 5px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación del texto en el centro */
    display: flex;
    flex-direction: column;
}

#myHeader h1 {
    margin: 10px; /* Elimina el margen superior e inferior del título */
    margin-right: 40vh;
}

.conte {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos verticalmente */
    width: 100%;
    justify-content: flex-start; /* Alinea todos los elementos hacia la derecha */
    text-decoration: none;
}

.conte a i.fas.fa-home {
    margin-left: 10px;
    font-size: 24px; /* Aquí puedes ajustar el tamaño según tus necesidades */
}

.conte a {
    display: inline-flex;
    color: #fff; /* Color del texto de los enlaces */
    margin-left: 10px; /* Ajusta la separación entre los elementos */
    margin-right: 1150px; /* Ajusta la separación entre los elementos */
    text-decoration: none;
    align-items: center;
}

.conte a i {
    margin-right: 5px;
}

.conte a:hover {
    text-decoration: underline; /* Subrayado de los enlaces al pasar el mouse */
} 


/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #fff;
    overflow-y: auto; 
}

.scrollable-list {
    padding: 20px;
}

.scrollable-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scrollable-list button:hover {
    background-color: #777;
}

.content {
    margin-left: 100; /* Ancho de la barra lateral + espacio */
    padding: 10px;
    display: flex;
    background-color: #333;
    flex-direction: column;
    align-items: left;
}

.separator {
    border: none;
    border-top: 1px solid #666; /* Línea horizontal */
    margin: 20px 0; /* Espaciado */
    height: 0; /* Oculta el espacio vertical generado por el hr */
}

.biblioteca {
    font-size: 21px; 
    margin-bottom: 30px; /*espacio entre biblioteca y Mis favoritos*/
    font-weight: bold;
}

.favorites {
    font-size: 16px; 
    margin-left: 20px; 
    font-style: italic;
}

.fa-heart {
    color: rgb(96, 91, 91); 
}

.playlists-titulo {
    font-size: 21px; 
    margin-bottom: 30px; /*espacio entre biblioteca y Mis favoritos*/
    font-weight: bold;
}

.fa-trash-alt {
    float: right;
}

.playlists {
    margin-top: 25px;
}

/* Parte de la izquierda */
.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.main-content .section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    margin-right: 300px;
    margin-bottom: 20px; /* Margen entre las secciones */
    padding: 20px;
    background-color: #6c6161;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.main-content .section button {
    margin: 45px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

.content button {
    margin: 95px auto;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-content .section button[disabled] {
    background-color: #ccc; 
    color: #666;
}


.section h2 {
    margin-bottom: 10px;
    color: #ffffff;
}
  
.section p {
    margin-bottom: 10px;
}

/* .resize-handle {
    position: absolute;
    top: 0;
    right: -5px; 
    height: 100%;
    width: 10px; 
    cursor: ew-resize; 
    background-color: #000;
    z-index: 1; 
    opacity: 0; 
} */
