{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título -->
  <title>Mis favoritos</title> 
  <!-- Icon -->
  <link href="{% static '/usuarios/logo.png' %}" rel="shortcut icon" type="image/png" />
  <!-- Para los iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
   <!-- JavaScript -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="{% static '/usuarios/css/mostrarFavoritos.css' %}" />
</head>

<body>
    <div class="titulo">
        <h1>Mis favoritos</h1>
    </div>
    <div id="cancionesContainer">
    </div>

    <script>
      var idCanciones = JSON.parse('{{ id_canciones|safe }}');
      var nombresCanciones = JSON.parse('{{ nombre_canciones|escapejs }}');
      var artistasCanciones = JSON.parse('{{ artistas_canciones|safe }}');
      var duracionCanciones = JSON.parse('{{ duracion_canciones|escapejs }}');

      var canciones = [];

      var longitud = nombresCanciones.length;

      //Unifico las tres listas anteriores en una
      for (var i = 0; i < longitud; i++) {
        var duracionMilisegundos = duracionCanciones[i];
        //paso la duración a minutos y segundos
        var minutos = Math.floor(duracionMilisegundos / 60000);
        var segundos = ((duracionMilisegundos % 60000) / 1000).toFixed(0);
        segundos = segundos < 10 ? '0' + segundos : segundos;

        var cancion = {
            id: idCanciones[i],
            nombre: nombresCanciones[i],
            artista: artistasCanciones[i],
            duracion: minutos + ':' + segundos
        };

        canciones.push(cancion);
      }

      console.log("Canciones")
      console.log(canciones);

    </script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'usuarios/js/mostrarFavoritos.js' %}"></script>
</body>

</html>
