{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título -->
  <title>Mis playlists</title> 
    <!-- Para los iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
   <!-- JavaScript -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="{% static '/usuarios/css/mostrarPlaylists.css' %}" />
</head>

<body>
    <div class="titulo">
        <h1>Mis playlists</h1>
    </div>
    <div id="playlistsContainer">
    </div>

    <script>
      var nombresPlaylists = JSON.parse('{{ nombres_playlists|safe }}');
      var idsPlaylists = JSON.parse('{{ id_playlists|escapejs }}');
    </script>

    <!-- JavaScript -->
    <script src="{% static 'usuarios/js/mostrarPlaylists.js' %}"></script>
</body>

</html>
