{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Lista de Canciones</title>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Lista de Canciones</h1>
    <tr>Cantidad canciones: {{ cantidad_canciones }}</tr><br>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Artista</th>
                    <th>Año</th>
                </tr>
            </thead>
            <tbody>
                
                {% for cancion in canciones %}
                    <tr>
                        <td>{{ cancion.title }}</td>
                        <td>{{ cancion.artist }}</td>
                        <td>{{ cancion.year }}</td>
                        <td>
                            <label for="checkbox-{{ cancion.id }}" class="checkbox-label">
                                <input type="checkbox" id="checkbox-{{ cancion.id }}" class="cancion-checkbox" name="seleccionar" value="{{ cancion.id }}">
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" id="btn-enviar" aria-label="Enviar selecciones">Enviar selecciones</button>
        <div id="resultados-seleccion"></div>
    <!-- JavaScript -->
    <script src="{% static 'paginaPrincipal/js/canciones.js' %}"></script>
</body>
</html>
