{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título -->
  <title>Crear Playlist</title> 
  <!-- Icon -->
  <link href="{% static '/paginaPrincipal/logo.png' %}" rel="shortcut icon" type="image/png" />
    <!-- Para los iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
   <!-- JavaScript -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="{% static '/paginaPrincipal/css/crearPlaylist.css' %}" />
</head>

<body>
    <!-- Contenido de tu página actual -->
    {% if opcion %}
    <button id="botonEnviar" hidden>Enviar</button>
    <div class="explanation-container">
      <div class="text" id="explanation" data-explanation="{{ explanation }}"> </div>
    </div>
    
      <div class="song_box">
        
        <div class="icon-container">
          <div class="icon">🎵</div>
        </div>
        <div class="text"><a id="nombre" data-nombre="{{ nombre }}">{{ nombre }}</a></div>
        <div class="text" id="artista" data-artista="{{ artista }}">{{ artista }}</div>
        <div class="text" id="id" data-id="{{ id }}"></div>
        <div class="text" id="playlistId" data-playlistid="{{ playlistId }}"></div>

        <!-- indica si la primera canción es de favoritos o de populares (populares: 0, favoritos: 1) -->
        <div class="text" id="primer" data-primer="{{ primer }}"></div>
      </div>
      <div class="icons">

        <div class="icon">
          <i id="btn-like" class="fas fa-heart" title="Favoritos"></i>
        </div>
        <div class="icon">
          <i id="btn-check" class="fas fa-check" title="Meter en la playlist"></i>
        </div>
        <div class="icon">
          <i id="btn-rep" class="fas fa-redo-alt" title="Siguiente canción"></i>
        </div>
        <div class="icon">
          <i id="btn-enviar" class="fas fa-arrow-right" title="Terminar playlist"></i>
        </div>

    {% else %}  
      <form method="post" action="/paginaPrincipal/crear_playlist/">
        {% csrf_token %}
        <div id="contenedor">
          <h2>Introduce el nombre de tu playlist:</h2>
          <p>Instrucciones: se irán mostrando diferentes canciones para que el usuario elija lo que quiere hacer con ella.<br> Pasando el ratón por cada uno de los botones te mostrará la información de cada uno</p>
          <input type="text" id="nombreInput" name="nombreCrearPlaylist" placeholder="Ingresa aquí el nombre" required>
          <button id="botonEnviar">Enviar</button>
        </div>
    {% endif %}
    
    <!-- JavaScript -->
    <script src="{% static 'paginaPrincipal/js/crearPlaylist.js' %}"></script>
    
</body>
</html>
