{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título -->
  <title>Crear Playlist</title> 
    <!-- Para los iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
   <!-- JavaScript -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="{% static '/paginaPrincipal/css/crearPlaylist.css' %}" />
</head>

<body>
    <!-- Contenido de tu página actual -->
    <div class="song_box">
      <div class="icon-container">
        <div class="icon">🎵</div>
      </div>
      <div class="text"><a>{{ nombre }}</a></div>
      <div class="text">{{artista}}</div>
    </div>
    <div class="icons">
      <div class="icon"><i class="fas fa-heart"></i></div>
      <div class="icon"><i class="fas fa-check"></i></div>
      <div class="icon"><i class="fas fa-redo-alt"></i></div>


      <button type="button" id="btn-enviar" aria-label="Enviar selecciones">Enviar selecciones</button>
        <div id="resultados-seleccion"></div>
    </div>
    
    <!-- JavaScript -->
    <script src="{% static 'paginaPrincipal/js/canciones.js' %}"></script>
    
</body>
</html>
