{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Título -->
  <title>Crear Playlist</title> 
    <!-- Para los iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-" crossorigin="anonymous" />
   <!-- JavaScript -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <!-- CSS -->
  <link rel="stylesheet" href="{% static '/paginaPrincipal/css/descubreCanciones.css' %}" />
</head>

<body>
    {% if opcion %}
    <script>
      var opciones_seleccionadas = "{{ opciones }}";
    </script>
      <div class="canciones-container">
        <h2>Lista de Canciones</h2>
        <!-- botón para enviar las canciones seleccionadas -->
        <button id="botonEnviar">Enviar</button>
          {% for cancion in datos %}
              <div class="cancion" data-id="{{ cancion.id }}" onclick="seleccionarCancion(this)">
                  <h3>{{ cancion.nombre }}</h3>
                  <p>Autor: {{ cancion.artista }}</p>
                  <script>

                  </script>
                  <p>Duración: <span class="duracion">{{ cancion.duracion }}</span></p>
              </div>
          {% endfor %}
      </div>
    {% else %}  <!-- primera parte donde elegimos las opciones -->
    <div class="container">
      <!-- sería /lista_canciones -->
        {% csrf_token %}
        <form action="/paginaPrincipal/descubrir_listaCanciones/" method="post">
            <h2>Selecciona los atributos que prefieras:</h2>    
            <input name="options" id="genres" type="checkbox" value="genres" /> Género<br/>
            <input name="options" id="year" type="checkbox" value="year" /> Año<br/>
            <input name="options" id="duration_ms" type="checkbox" value="duration_ms" /> Duración<br/>
            <input name="options" id="popularity" type="checkbox" value="popularity" /> Popularidad<br/>

            <button type="submit">Enviar</button>
        </form>
    </div>
    {% endif %}
    
    <!-- JavaScript -->
    <script src="{% static 'paginaPrincipal/js/descubreCanciones.js' %}"></script>
    
</body>
</html>
