html,body { 
	height: 100%; 
	background-color: #333;
}

.global-container{
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}

form{
	font-size: 16px; /* tamaño de la letra */
	border: 3px solid #000; /*borde de la caja */
    padding: 60px;
    margin: 1px; /* Margen exterior de 20px */
	background-color: #6c6161;
}

.card-title{ 
	font-weight: bold;
	text-align: center;
	color:#ffffff;
}

.btn{
	margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}
