body, html {
    height: 100%;
    margin: 0;
}

/* Header */
#myHeader {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 5px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación del texto en el centro */
    display: flex;
    flex-direction: column;
}

#myHeader h1 {
    margin: 10px; /* Elimina el margen superior e inferior del título */
    margin-right: 40vh;
}

.conte {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos verticalmente */
    width: 100%;
    justify-content: flex-start; /* Alinea todos los elementos hacia la derecha */
    text-decoration: none;
}

.conte a i.fas.fa-home {
    margin-left: 10px;
    font-size: 24px; /* Aquí puedes ajustar el tamaño según tus necesidades */
}

.conte a {
    display: inline-flex;
    color: #fff; /* Color del texto de los enlaces */
    margin-left: 10px; /* Ajusta la separación entre los elementos */
    margin-right: 1150px; /* Ajusta la separación entre los elementos */
    text-decoration: none;
    align-items: center;
}

.conte a i {
    margin-right: 5px;
}

.conte a:hover {
    text-decoration: underline; /* Subrayado de los enlaces al pasar el mouse */
} 

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: #fff;
    overflow-y: auto; 
}

.scrollable-list {
    padding: 20px;
}

.scrollable-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scrollable-list button:hover {
    background-color: #777;
}

.content {
    margin-left: 100; /* Ancho de la barra lateral + espacio */
    padding: 10px;
    display: flex;
    background-color: #333;
    flex-direction: column;
    align-items: left;
}

.separator {
    border: none;
    border-top: 1px solid #666; /* Línea horizontal */
    margin: 20px 0; /* Espaciado */
    height: 0; /* Oculta el espacio vertical generado por el hr */
}

.biblioteca {
    font-size: 21px; 
    margin-bottom: 30px; /*espacio entre biblioteca y Mis favoritos*/
    font-weight: bold;
}

.favorites {
    font-size: 16px; 
    margin-left: 20px; 
    font-style: italic;
}

.fa-heart {
    color: rgb(96, 91, 91); 
}

.playlists-titulo {
    font-size: 21px; 
    margin-bottom: 30px; /*espacio entre biblioteca y Mis favoritos*/
    font-weight: bold;
}

.fa-trash-alt {
    float: right;
}

.playlists {
    margin-top: 25px;
}

.playlist-box {
    background-color: #6c6161;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    width: 170px; /* Anchura fija */
    height: 20px; /* Altura fija */
}

.playlist-box a {
    float: left;
}

.playlists .fa-music {
    float: left; /* Flotar el icono a la izquierda */
    width: 20px; /* Ancho fijo para el icono */
    height: 30px; /* Altura fija para el icono */
    margin-right: 20px; /* Espacio entre el icono y el texto */
}


/* Resto de página */
.container {
    display: flex;
    max-width: 800px; /* Ajusta el ancho máximo del contenedor según sea necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.profile {
    background-color: #f9f9f9; /* Color de fondo del perfil */
    padding: 20px; /* Espaciado interno del perfil */
    border-radius: 10px; /* Bordes redondeados del perfil */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del perfil */
}

.profile h1 {
    font-size: 36px; /* Tamaño de fuente del título */
    color: #333; /* Color del texto del título */
}

.profile p {
    font-size: 18px; /* Tamaño de fuente del texto */
    color: #555; /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior entre los párrafos */
}

.btn-edit { /* botón de editar perfil */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.btn-edit:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

.btn-logout { /* botón de cerrar sesión */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.btn-logout:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}
