html,body { 
	height: 100%; 
}

.global-container{
	height: 100%; 

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	font-size: 16px; /* tamaño de la letra */
	border: 3px solid #000; /*borde de la caja */
    padding: 60px;
    margin: 1px; /* Margen exterior de 20px */
    background-color: #ffffff; /* Color de fondo gris claro */
}

.card-title{ 
	font-weight: bold;
	text-align: center;
}

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.boton_siguiente {
	border-radius: 10px; /*curvatura del botón*/
    font-weight: bold; /*letra en negrita*/
    padding: 10px 20px;
    background-color: #484242; /*color del fondo*/
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.boton_atras {
	border-radius: 10px; /*curvatura del botón*/
    font-weight: bold; /*letra en negrita*/
    padding: 10px 20px;
    background-color: #484242; /*color del fondo*/
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.boton_atras a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Usa el color del texto del botón */
}