html,body { 
	height: 100%; 
    background-color: #333;
}

.global-container{
	height: 100%; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}

form{
	font-size: 16px; 
	border: 3px solid #000; 
    padding: 60px;
    margin: 1px;
    background-color: #6c6161;
}

.card-title{ 
	font-weight: bold;
	text-align: center;
    color:#ffffff;
}

.login-form{ 
	width:330px;
	margin:20px;
}

.boton_siguiente {
	margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

.boton_atras {
	margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #45a049;
}

.boton_atras a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Usa el color del texto del botón */
}